body{
    margin: 0;
}
.title{
    background-color: #24292e;
    margin: 0;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
#menu{
    display: flex;
    justify-content: space-around;
    background-color: #24292e;
    flex-wrap: wrap;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#menu>*{
    color: white;
    padding: 24px;
}
#usersList{
    margin: 16px 0;
}



/*Dropdown menu*/

.dropdown-check-list {
    display: inline-block;
  }
  .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
  }
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid white;
    border-top: 2px solid white;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
  }
  .dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    position: relative;
    color: white;
    background-color: #24292e;
  }
  .dropdown-check-list ul.items li {
    list-style: none;
  }
  .dropdown-check-list.visible .items {
    display: block;
  }

a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
a:active {
  color: white;
} 

.project{
  margin: 16px;
  width: 80vw;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#projects{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.commit{
  padding: 4px;
  display: flex;
}
.commit>*{
  padding: 4px;
}
.date{
  flex-grow: 0;
}
.user{
  flex-grow: 1;
}
.message{
  flex-grow: 2;
}

button{
  background-color: white;
  color: #24292e !important;
}

i{
  color: black;
}